.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#messageList {
  list-style-type: none;
}

.singleMessage {
  display: flex;
  border-radius: 4px;
  padding: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.messageText {
  flex-grow: 1;
  text-align: left;
  font-size: larger;
  color: #e2e2e2;
}

.messageSender {
  margin-right: 32px;
  color: #999999;
}

.firstParticipant {
  background-color: #000055;
}

.secondParticipant {
  background-color: #000088;
}